@import "@fontsource/inter";
@import "@fontsource/playfair-display";

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 3rem;
    background: rgba(11, 16, 33, 0.95);
    backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(212, 175, 55, 0.15);

}
